<div class="container">
  <p>Ask your coach anything</p>
  <form action="/answer">
    <input type="text" name="question" class="form-control" placeholder="no silly question don't worry">
    <input type="submit" name= "Ask" value="Ask!" class="btn btn-primary">
  </form>
</div>
